{% extends "layout.html" %} {% block body %}

<!-- flashメッセージを表示させる -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div id="announce" class="notification is-primary">
  <button class="delete"></button>
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endwith %}

<section class="section">
  <div class="container is-max-desktop">
    <article class="message">
      <div class="message-header">
        <p>Manasite</p>
        <!-- <button class="delete" aria-label="delete"></button> -->
      </div>
      <div class="message-body">
        {% if session['user_id'] %} Hello, {{username}}! {% else %}
        <a href="{{url_for('login')}}">ここをクリック</a
        >してログインをしてください {% endif %}
      </div>
    </article>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Manasiteへようこそ</h1>
    <br />
    
    python, HTML, Javascriptを用いて、
    <br><br>
    ・ログイン機能<br>
    ・ミニゲーム<br>
    ・投票<br>
    <br>
    の3つの場面を実装しました。

  </div>
</section>

<!-- notificationを自動的に閉じる -->
<script>
  $("#announce").delay(2000).slideUp();
</script>
{% endblock %}
