<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manasite</title>
    <!-- <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- このサンプルアプリではCSSフレームワークとしてBulmaを使用している。他のフレームワークや自分のCSSを使用することも可能 -->
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar">
        <div class="container">
            <!-- ブランド名部分 -->
            <div class="navbar-brand">
                <a class="navbar-item" href="{{url_for('home')}}">
                    <i class="fas fa-home"></i>&nbsp;
                    <strong>ホーム</strong>
                </a>
                <!-- モバイルではバーガーを表示させる（Bulmaのドキュメントを参照） -->
                <span class="navbar-burger burger" data-target="navbarMenu"
                    onclick="$(this).toggleClass('is-active'); $('#navbarMenu').toggleClass('is-active');">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <!-- メニュー部分 -->
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <!-- ログイン状況に応じて項目を変化 -->
                    {% if session['user_id'] %}
                    <a class="navbar-item" href="{{url_for('game')}}">
                        <i class="fa fa-spinner" aria-hidden="true"></i>&nbsp;
                        ゲーム
                    </a>

                    <a class="navbar-item" href="{{url_for('vote')}}">
                        <i class="fa fa-inbox" aria-hidden="true"></i>&nbsp;
                        投票
                    </a>

                    <a class="navbar-item" href="{{url_for('logout')}}">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
                        ログアウト
                    </a>

                    {% else %}
                    <a class="navbar-item" href="{{url_for('login')}}">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;
                        ログイン
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block body %}
    <!-- 各HTMLファイルではlayoutをextendしbody blockを記述する -->
    {% endblock %}

</body>

</html>