<!DOCTYPE html>
<head>
    <title>QR cord reaer</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/qr.css')}}"> -->
    <link rel="stylesheet" href="../static/css/qr.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.js"></script>
    <!-- <script src="../static/js/qr/jsQR.js" defer></script>
    <script src="../static/js/qr/script.js" defer></script> -->
</head>
<!-- <span id="input">
    <div id="wrapper">
        <video id="video" autoplay muted playsinline></video>
        <canvas id="camera-canvas" class="text-center"></canvas>
        <canvas id="rect-canvas"></canvas>
    </div>
</span> -->

<span>
    <div class="qrblock">
        <p class="qrcomment">QRコードで生成したい文字列を入力してください。</p>
        <input id="isbn" type="text" name="isbn" value=""> <button id="getqrInfo"
            class="btn btn-default">QRコードを生成</button>
    </div>
    <div>
        <h1 class="text-center font-bold text-4xl mt-8">ユーザーQRコード</h1>
    </div>
    <figure class="">
        <img src="{{url_for('static', filename='img/qr_code.png')}}" alt="">
    </figure>
    <div id="qrOutput">
        <canvas id="qr"></canvas>
        <div><img id="newImg"></div>
    </div>
</span>

</body>
</html>
