{% extends "layout.html" %} {% block body %}
<!-- flashメッセージを表示させる -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div id="announce" class="notification is-primary">
  <button class="delete"></button>
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endwith %}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable">

        <div class="column is-half">
          <div class="has-text-centered">
            <h1 class="title is-2">あなたがよく使うSNSは？</h1>
          </div>
          <div class="container">
            <div class="container">
              <div class="row my-4">
                <canvas id="myChart"></canvas>
              </div>
              <input type="hidden" id="chart_labels" name="chart_labels" value="{{ graph_data.chart_labels }}" />
              <input type="hidden" id="chart_title" name="chart_title" value="{{ graph_data.chart_title }}" />
              <input type="hidden" id="chart_target" name="chart_target" value="{{ graph_data.chart_target }}" />
              <input type="hidden" id="chart_data" name="chart_data" value="{{ graph_data.chart_data }}" />
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
            <script type="text/javascript" src="static/js/graph.js"></script>
          </div>
        </div>

        <div class="column is-half">
          <form action="{{url_for('vote')}}" method="POST" enctype="multipart/form-data">

            <div class="list has-visible-pointer-controls">
              <div class="list-item">
                <div class="columns is-vcentered">

                  <div class="column is-narrow">
                    <div class="list-item-image">
                      <figure class="image is-64x64">
                        <img class="is-rounded" src="https://1.bp.blogspot.com/-zaoiLHspoKI/XeI_0uFAeCI/AAAAAAAAF38/CyHgdY8bdOQ7d979yOJ0voSIA8b5bAF2wCLcBGAsYHQ/s1600/Youtube-Icon-2000x2000.png">
                      </figure>
                    </div>
                  </div>

                  <div class="column">
                    <div class="list-item-content">
                      <div class="list-item-title">Youtube</div>
                      <div class="list-item-description">ユーチューブ</div>
                    </div>
                  </div>

                  <div class="column is-narrow">
                    <div class="list-item-controls">
                      <div class="buttons is-right">
                        <button class="button" type="submit" name="vote" value="Youtube">
                          <span class="icon is-small">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                          </span>
                          <span>投票</span>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <hr class="divider">

              <div class="list-item">
                <div class="columns is-vcentered">
                  <div class="column is-narrow">
                    <div class="list-item-image">
                      <figure class="image is-64x64">
                        <img class="is-rounded"
                          src="https://th.bing.com/th/id/OIP.oRMVIBkRotUKyxLyEa-XHQAAAA?pid=ImgDet&rs=1">
                      </figure>
                    </div>
                  </div>

                  <div class="column">
                    <div class="list-item-content">
                      <div class="list-item-title">Instagram</div>
                      <div class="list-item-description">インスタグラム</div>
                    </div>
                  </div>

                  <div class="column is-narrow">
                    <div class="list-item-controls">
                      <div class="buttons is-right">
                        <button class="button" type="submit" name="vote" value="Instagram">
                          <span class="icon is-small">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                          </span>
                          <span>投票</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="divider">

              <div class="list-item">
                <div class="columns is-vcentered">
                  <div class="column is-narrow">
                    <div class="list-item-image">
                      <figure class="image is-64x64">
                        <img class="is-rounded"
                          src="https://news.mynavi.jp/article/20210708-1918224/images/007.jpg">
                      </figure>
                    </div>
                  </div>

                  <div class="column">
                    <div class="list-item-content">
                      <div class="list-item-title">Twitter</div>
                      <div class="list-item-description">ツイッター</div>
                    </div>
                  </div>

                  <div class="column is-narrow">
                    <div class="list-item-controls">
                      <div class="buttons is-right">
                        <button class="button" type="submit" name="vote" value="Twitter">
                          <span class="icon is-small">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                          </span>
                          <span>投票</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
  $("#announce").delay(2000).slideUp();
</script>
{% endblock %}